#-e git+https://github.com/GeoNode/geonode-mapstore-client.git@master#egg=django_geonode_mapstore_client
-e git+https://github.com/geosolutions-it/geonode-mapstore-client.git@nexus_master#egg=django_geonode_mapstore_client
-e git+https://github.com/GeoNode/dynamic-rest.git@v2.0.1#egg=dynamic-rest
#-e git+https://github.com/GeoNode/geonode.git@master#egg=geonode
- e git+https://github.com/geosolutions-it/geonode@nexus_master#egg=geonode
