-e git+https://github.com/geosolutions-it/geonode-mapstore-client.git@nexus#egg=django_geonode_mapstore_client
-e git+https://github.com/geosolutions-it/django-mapstore-adapter.git@nexus#egg=django_mapstore_adapter
-e git+https://github.com/geosolutions-it/geonode.git@nexus#egg=GeoNode
