{% block content %}
<style>
    .msgapi .gn-theme {
        --gn-primary: #388AC8;
        --gn-primary-contrast: #ffffff;
        --gn-link-color: #397AAB;
        --gn-link-hover-color: #1b4d74;
        --gn-focus-color: rgba(57, 122, 171, 0.4);
        --gn-footer-color: #ffffff;
        --gn-footer-bg: #034f78;
        --gn-footer-link-color: #ffffff;
        --gn-footer-link-hover-color: #dddddd;
        --gn-loader-primary-contrast-color: #ffffff;
        --gn-loader-primary-contrast-fade-color: rgba(255, 255, 255, 0.2);
        --gn-loader-primary-color: #388AC8;
        --gn-loader-primary-fade-color: rgba(56, 138, 200, 0.2);
        --gn-jumbotron-color: #ffffff;
        --gn-jumbotron-bg: #0c3756;
        --gn-timeline-selected-bg: rgba(56, 138, 200, 0.05);
        --gn-timeline-histogram-bg: rgba(56, 138, 200, 0.5);
        --gn-timeline-histogram-color: #2c6fa1;
        --gn-timeline-range-bg: rgba(0, 0, 0, 0.2);
        --gn-timeline-playback-range-bg: rgba(128, 218, 158, 0.2);
        --gn-button-primary-color: #ffffff;
        --gn-button-primary-bg: #388AC8;
        --gn-button-primary-border-color: #388AC8;
        --gn-button-primary-focus-color: #ffffff;
        --gn-button-primary-focus-bg: #2c6fa1;
        --gn-button-primary-focus-border-color: #1c4565;
        --gn-button-primary-hover-color: #ffffff;
        --gn-button-primary-hover-bg: #2c6fa1;
        --gn-button-primary-hover-border-color: #2a6999;
        --gn-button-primary-active-color: #ffffff;
        --gn-button-primary-active-bg: #2c6fa1;
        --gn-button-primary-active-border-color: #2a6999;
        --gn-button-primary-active-hover-color: #ffffff;
        --gn-button-primary-active-hover-bg: #255b85;
        --gn-button-primary-active-hover-border-color: #1c4565;
        --gn-button-primary-disabled-color: #ffffff;
        --gn-button-primary-disabled-bg: #9fb6c7;
        --gn-button-primary-disabled-border-color: #9fb6c7;
        --gn-button-primary-badge-color: #388AC8;
        --gn-button-primary-badge-bg: #ffffff;
        --gn-button-tray-color: #1a1a1a;
        --gn-button-tray-bg: #ffffff;
        --gn-button-tray-border-color: #408fca;
        --gn-button-tray-focus-color: #1a1a1a;
        --gn-button-tray-focus-bg: #e6e6e6;
        --gn-button-tray-focus-border-color: #27618d;
        --gn-button-tray-hover-color: #1a1a1a;
        --gn-button-tray-hover-bg: #e6e6e6;
        --gn-button-tray-hover-border-color: #3585c1;
        --gn-button-tray-active-color: #1a1a1a;
        --gn-button-tray-active-bg: #e6e6e6;
        --gn-button-tray-active-border-color: #3585c1;
        --gn-button-tray-active-hover-color: #1a1a1a;
        --gn-button-tray-active-hover-bg: #d4d4d4;
        --gn-button-tray-active-hover-border-color: #27618d;
        --gn-button-tray-disabled-color: #1a1a1a;
        --gn-button-tray-disabled-bg: #ffffff;
        --gn-button-tray-disabled-border-color: #ffffff;
        --gn-button-tray-badge-color: #ffffff;
        --gn-button-tray-badge-bg: #1a1a1a;
    }
</style>
{% endblock %}