{% extends 'geonode-mapstore-client/_geonode_config.html' %}
{% block override_local_config %}
<script>
    window.__GEONODE_CONFIG__.overrideLocalConfig = function(localConfig, _) {
        localConfig.geoNodeConfiguration.menu.items = localConfig.geoNodeConfiguration.menu.items.filter((item) => item.labelId != 'gnhome.about');
        localConfig.geoNodeConfiguration.menu.rightItems = [{
                    "labelId": "gnhome.about",
                    "type": "dropdown",
                    "items": [
                        {
                            "type": "link",
                            "href": "/people/",
                            "labelId": "gnhome.people"
                        },
                        {
                            "type": "link",
                            "href": "/groups/",
                            "labelId": "gnhome.groups"
                        },
                        {
                            "type": "link",
                            "href": "/groups/categories/",
                            "labelId": "gnhome.groupsCategories"
                        },
                        {
                            "type": "link",
                            "href": "/announcements/",
                            "labelId": "gnhome.announcements",
                            "authenticated": true,
                            "allowedRoles": [
                                "admin"
                            ]
                        },
                        {
                            "type": "divider",
                            "authenticated": true,
                            "perms": [{ "type": "user", "value": "add_resource" }]
                        },
                        {
                            "type": "link",
                            "href": "/invitations/geonode-send-invite/",
                            "labelId": "gnhome.inviteUsers",
                            "authenticated": true,
                            "perms": [{ "type": "user", "value": "add_resource" }]
                        },
                        {
                            "type": "link",
                            "href": "/admin/people/profile/add/",
                            "labelId": "gnhome.addUser",
                            "authenticated": true,
                            "allowedRoles": [
                                "admin"
                            ],
                            "perms": [{ "type": "user", "value": "add_resource" }]
                        },
                        {
                            "type": "link",
                            "href": "/groups/create/",
                            "labelId": "gnhome.createGroup",
                            "authenticated": true,
                            "allowedRoles": [
                                "admin"
                            ],
                            "perms": [{ "type": "user", "value": "add_resource" }]
                        }
                    ]
                }];
        const config = _.mergeWith(localConfig, {
            "translationsPath": [
                "/static/mapstore/ms-translations",
                "/static/mapstore/gn-translations",
                "/static/mapstore/translations"
            ],
            "supportedLocales": {
                "en": {
                    "code": "en-US",
                    "description": "English"
                },
                "fr": {
                    "code": "fr-FR",
                    "description": "Français"
                }
            },
            "geoNodeConfiguration": {
                "theme": {
                    "variant": "light",
                    "color": "#388AC8",
                    "primary": {
                        "contrast": "#ffffff",
                        "value": "#388AC8"
                    },
                    "navbar": {
                        "style": {
                            "backgroundImage": "url(/static/img/headerbg.gif)",
                            "backgroundSize": "cover",
                            "backgroundPosition": "center"
                        }
                    },
                    "hero": {
                        "style": {
                            "backgroundImage": "url(/static/img/polynesia-hero.jpg)",
                            "backgroundSize": "cover",
                            "backgroundPosition": "center",
                            "backgroundRepeat": "no-repeat",
                            "backgroundColor": "rgb(156, 156, 156)",
                            "backgroundBlendMode": "multiply"
                        }
                    },
                    "jumbotron": {},
                    "languageSelector": {
                        "inline": true
                    },
                    "footer": {
                        "bg": "#034f78",
                        "color": "#ffffff",
                        "link": {
                            "color": "#ffffff",
                            "hoverColor": "#dddddd"
                        }
                    }
                },
                "filters": {
                    "extent": {
                        "style": {
                            "color": "#1b7fba",
                            "opacity": 0.8,
                            "fillColor": "#1b7fba",
                            "fillOpacity": 0.4,
                            "weight": 4
                        }
                    }
                },
                "navbar": {
                    "logo": [
                        {
                            "src": "/static/img/logo.png",
                            "href": "/",
                            "style": {
                                "minHeight": 50
                            }
                        }
                    ]
                },
                "footer": {
                    "items": [
                        {
                            "labelId": "gnhome.spcInt",
                            "type": "link",
                            "href": "https://www.spc.int/",
                            "perms": []
                        }
                    ]
                }
            }
        }, function(objValue, srcValue, key) {
            if (_.isArray(objValue)) {
                return srcValue;
            }
            // supportedLocales is an object so it's merged with the default one
            // so to remove the default languages we should take only the supportedLocales from override
            if (key === 'supportedLocales') {
                return srcValue;
            }
        });
        return config;
    };
</script>
{% endblock %}
